snippet class
	class='{css ${1:}}'
endsnippet
snippet css
	{css ${1:}}
endsnippet
snippet msg
{msg desc="${2:$1}"}${1:}{/msg}
endsnippet
snippet call
	{call .${1:}}
		{param ${2:name}: ${3:$2 value} /}
	{/call}
endsnippet
snippet t
<tag>${VISUAL:inside text/should/is/g}</tag>
endsnippet
